@import "variable.styl"

body, html
  max-width: 750px
  line-height: 1
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

.column
  padding: 15px 15px
  font-size: 14px
  line-height: 20px
  color: #fff

.video-js .vjs-big-play-button
  width: 2em
  height: 2em
  line-height: 2em
  text-align: center
  border-radius: 50%
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
